//#1=>1,去除#字符
var iscontain = function(arraylist,item){
  item = item + "";
  console.log(typeof(arraylist))
  for(var i=0;i<arraylist.length;i++){
    if(arraylist[i] == item){
      return true;
    }
  }
  return false;
}
var indexOf = function(origintxt,indextxt){
  return origintxt.indexOf(indextxt)
}
var hobby_point = function(hobby_point){
  var point = (hobby_point/1000).toFixed(1);
  //return ""
  return "L"+point
}
var hobby_point_per = function(hobby_point){
  //var point = (Math.floor(hobby_point/1000) + 1)*1000;
  var per = (hobby_point/7000).toFixed(2)*100
  return per
}
var data_per = function(data,total){
  var point = (Math.floor(data/total) + 1)*total;
  var per = (data/point).toFixed(2)*100
  return per
}
var win_rate = function(win,peace,fail){
  var total = win+peace+fail;
  if(total == 0){
    return "0"
  }
  var point = Math.round(win/total*100);
  return point+"%"
}
var win_rate_per = function(win,peace,fail){
  var total = win+peace+fail;
  if(total == 0){
    return "0"
  }
  var point = Math.round(win/total*100);
  return point
}

var show_member_num = function (member_num_str) {
  member_num_str = ""+member_num_str;
  var test = "#1#2";
  console.log(test.split("#").length)
  return member_num_str.replace("#","");
}
var split_arr = function(member_group){
  var member_list = [];
  var temp_list = member_group.split("#");
  for(var i=0;i<temp_list.length;i++){
    if(temp_list[i]!=""){
      member_list.push("#"+temp_list[i])
    }
  }
  return member_list;
}
//scores最后一位是比分标签
var show_vs_scores = function(scores){
  var flag = true;
  //console.log(scores);
  for(var i=0;i<scores.length;i++){
    if(scores[i]!=0){
      flag = false;
      break;
    }
  }
  if(flag){
    return "待记录";
  }else {
    return scores.join(" : ");
  }
}



module.exports = {
  show_member_num: show_member_num,
  show_vs_scores:show_vs_scores,
  iscontain:iscontain,
  hobby_point:hobby_point,
  win_rate:win_rate,
  win_rate_per:win_rate_per,
  indexOf:indexOf,
  hobby_point_per:hobby_point_per,
  data_per:data_per,
  split_arr:split_arr

};
module.exports.msg = "some msg";