//#1=>1,去除#字符
var iscontain = function(arraylist,item){
  item = item + "";
  console.log(typeof(arraylist))
  
  for(var i=0;i<arraylist.length;i++){
    if(arraylist[i] == item){
      return true;
    }
  }
  return false;
}

var hobby_point = function(hobby_point){
  var point = (hobby_point/1000).toFixed(1);
  //return ""
  return "L"+point
}
var win_rate = function(win,peace,fail){
  var total = win+peace+fail;
  if(total == 0){
    return "0"
  }
  var point = parseInt(win/total*100);
  return point+"%"
}

var show_member_num = function (member_num_str) {
  member_num_str = ""+member_num_str;
  return member_num_str.replace("#","");
}
//scores最后一位是比分标签
var show_vs_scores = function(scores){
  var flag = true;
  //console.log(scores);
  for(var i=0;i<scores.length;i++){
    if(scores[i]!=0){
      flag = false;
      break;
    }
  }
  if(flag){
    return "待记录";
  }else {
    return scores.join(" : ");
  }
}



module.exports = {
  show_member_num: show_member_num,
  show_vs_scores:show_vs_scores,
  iscontain:iscontain,
  hobby_point:hobby_point,
  win_rate:win_rate
};
module.exports.msg = "some msg";